@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);
*{
    font-family: 'cwTeXKai', serif;
    font-size: 20px;
}
.edit{
    background-color: #000000;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.delete{
    background-color: #ff5600;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}